#icons-sidebar {
margin-right: 10px;
}

#navigation-bar {
margin-bottom: 21px;
margin-top: -25px;
}

#logouticon {
margin-right: 8px;
}

#btnblock {
background-color: #48EA8B; 
color: white;
}

#row1 { 
text-align: center;
color: white;
}

#row1 a {
text-decoration: none;
color: white;
}

#row1 .col-sm-2 {
height: 100%;
padding: 0 3px 0 3px;
transition: 0.5s;
}

#row1 .col-sm-2:hover {
transform: translateY(-7px);
}

#row1 .card-title {
color: white; 
font-size: 23px;
}

#row1 .card-header {
height: 37px; 
text-align: center;
}

#row1 #paragraph {
margin-top: -5px;
}

#row1 .fas {
margin-left: 6px;
}

#btnblock .fas {
margin-left: 6px;
}

#row2 {
margin-top: 20px; 
}

#row2 .card {
color: black; 
height: 100%;
}

#row2 .card-header {
background-color: white;
}

#row3 {
margin-top: 20px; 
}

#row3 .card {
color: black; 
height: 100%;
}

#row3 .card-header {
background-color: white;
}

#row4 {
margin-top: 20px; 
}

#row4 .card {
color: black; 
height: 100%;
}

#row4 .card-header {
background-color: white;
}

#btn1 {
color: white;
background-color: #37b38d;
}

#btn2 {
color: white;
background-color: #f0ad4e;
}

#btn3 {
color: white;
background-color: #df4759;
}

#btn4 {
color: white;
background-color: #37b38d;  
margin-top: 5px; 
}

#resetpsuccess {
color: #276d22;    
}

#resetperror {
color: #e21313; 
}

#trashbutton {
margin-right: 3px; 
margin-bottom: 3px;
}

#msgbutton {
margin-bottom: 3px;
}

#sendbe {
float: right; 
margin-top: 4px;
}

#starofline {
margin-right: 6px; 
font-size: 6px;
}

#identitycardborder {
border: none;    
}

#imgic {
width: 100%; 
height: 100%;
}

#confirmbutton {
color: white;    
background-color: #37b38d;
margin-top: 5px;
}

#changebutton {
color: white;    
background-color: #37b38d;
}

#adderror {
color: #e21313;
text-align: center;
margin-top: 18px;
}

#addsuccess {
color: #276d22;
text-align: center; 
margin-top: 18px;
}

#acbuttons {
text-align: center; 
margin-top: 15px;
}

#managementerror {
color: #e21313;
text-align: center;
margin-top: 15px;
}

#donemsg{
color: #276d22;
text-align: center;
margin-top: 15px;
}

#footerid {
width: 100%;    
margin-top: 12px; 
margin-bottom: -35px;
}
