<!DOCTYPE html>
<html lang="en">

<head>
  <title>InvestingToday</title>
  <meta charset="utf-8">
  {% load static %}
  <link rel="icon" type="image/png" size="16x16" href="{% static 'images/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
 <div class="form-body">
  <div class="row">
   <div class="form-holder">
    <div class="form-content">
     <div class="form-items">
      <div class="col-md-12">
       <h3>Type your new password</h3>
      </div>
      <form method="post">
       {% csrf_token %}
       <div class="form-group">
        <input type="password" class="form-control" name="password1" oninvalid='this.setCustomValidity("This field is Required")' placeholder="password" required>                      
       </div>  
       <div class="form-group">
        <input type="password" class="form-control" name="password2" oninvalid='this.setCustomValidity("This field is Required")' placeholder="confirm password" required>
       </div>  
       <div id="Button">
        <button type="submit" class="btn btn-success">Change</button>
       </div>     
      </form>
     </div>
    </div>
   </div>
  </div>
 </div>  
</body>
</html>
