<!DOCTYPE html>
<html lang="en">

<head>
  <title>InvestingToday</title>
  <meta charset="utf-8">
  {% load static %}
  <link rel="icon" type="image/png" size="16x16" href="{% static 'images/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
 <div class="container-fluid">
  <blockquote class="blockquote text-center" id="blockquote">
   <h1 id="HeaderCI">Your password has been reset successfully</h1><hr>
   <p class="mb-0" id="ParagraphCI">Click <a href="http://localhost:8000/signin" id="a2">here</a> to sign in with your new password</p>
  </blockquote>
 </div>
</body>
</html>
