<!DOCTYPE html>
<html lang="en">

<head>
  <title>InvestingToday</title>
  <meta charset="utf-8">
  {% load static %}
  <link rel="icon" type="image/png" size="16x16" href="{% static 'images/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
 <div class="form-body">
  <div class="row">
   <div class="form-holder">
    <div class="form-content">
     <div class="form-items">
      <div class="col-md-12">
       <h3>Enter your email below</h3>
      </div>
      <form method="post">
       {% csrf_token %}
       <div class="form-group">
        <input type="email" class="form-control" name="email" oninvalid='this.setCustomValidity("This field is either empty or invalid !!!")' placeholder="adress email" required>
       </div>
       {% if message %} 
       <div id="ErrorRP">
        <small>{{message}}</small> 
       </div>
       {% endif %}        
       <div id="Button">      
        <button type="sumbit" class="btn btn-success">Continue</button>
       </div>
      </form>
     </div>
    </div>
   </div>
  </div>
 </div>  
</body>
</html>
