<!DOCTYPE html>
<html lang="en">

<head>
  <title>InvestingToday</title>
  <meta charset="utf-8">
  {% load static %}
  <link rel="icon" type="image/png" size="16x16" href="{% static 'images/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
 <div class="container-fluid">
  <blockquote class="blockquote text-center" id="blockquote">
   <h1 id="HeaderCI">Password reset sent</h1><hr>
   <p class="mb-0" id="ParagraphCI">We have emailed you instructions for setting your password, you should receive them shortly. Go and check your inbox quickly.</p>
  </blockquote>
 </div>
</body>
</html>
